<link rel="stylesheet" type="text/scss" href="_sass/partials/main.scss"/>
<center>

<body>
  <div class="topnav" id="myTopnav">
  <nav>
    <ul>
      <li class="active"><a href="/index.html">Home</a></li>
      <li><a href="/about">Experience</a></li>
      <li><a href="/contact">Study Abroad</a></li>
      <li><a href="/blog">Projects</a></li>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </ul>
  </nav>
</div>
  <script>
      function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
      }
  </script>
</body>

</center>
