---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <h3><center>Projects</center></h3>

<a href="https://tourofmena.netlify.com/index.html" target="_blank">Tour of MENA Website</a>

<a href="http://fmhs-projects.net/Zombies/zombiegame.html" target="_blank">Zombie Runner Game</a>

  <iframe width="560" height="315" src="https://youtube/bMkKR9pxvmA"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
  picture-in-picture" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://youtube/uguphpXK1fc"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
  picture-in-picture" allowfullscreen></iframe>

  <ul>
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %}
  </ul>

</section>
