---
layout: default
---

<center><h2>My Study Abroad Experience</h2></center>

<div class="slideshow">

  <div class="mySlides">
    <img src="assets/img/uploads/moroccoschool.JPG" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/sandthrow.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/paris.PNG" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/rocksit.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/strongdesert.jpg" style= background-size: auto/>
  </div>

</div>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

  {% include page-intro.html %}

  {{ content }}

<script type="text/javascript" src="assets/main.js"></script>
